﻿@{
    ViewData["Title"] = "Colour Slider";
}


<script>
    function changeRed(value) {
        document.getElementById('redSlider').innerHTML = value;
        changeAll();
    }
    function changeGreen(value) {
        document.getElementById('greenSlider').innerHTML = value;
        changeAll();
    }
    function changeBlue(value) {
        document.getElementById('blueSlider').innerHTML = value;
        changeAll();
    }
    function changeAll() {
        var r = document.getElementById('redSlider').value;
        var g = document.getElementById('greenSlider').value;
        var b = document.getElementById('blueSlider').value;
        document.getElementById('change').style.backgroundColor = "rgb(" + r + "," + g + "," + b + ")";
    }
    function colourChange() {
    var x = document.forms["colourForm"]["red"].value;
    var y = document.forms["colourForm"]["green"].value;
    var z = document.forms["colourForm"]["blue"].value;
    document.getElementById('backgroundColor').style.backgroundColor = "rgb(" + x + "," + y + "," + z + ")";
    }
     function resetChange() {
    document.getElementById('backgroundColor').style.backgroundColor = "rgb(255,255,255)";
       }

</script>
<div>
    <h1> Colour Changer</h1>
            <div id="change" style="height:150px"></div>
    <form id="colourForm" onsubmit="return validateForm()">
        <div id="redPanel">
            <div class="titleCenter">Red<br></div>
            <input type="range" name="red" oninput="changeRed(this.value)" onchange="changeRed(this.value)" id="redSlider" value="128" min="0" max="255"><br/>
        </div>
        <div id="greenPanel">
            <div class="titleCenter">Green<br></div>
            <input type="range" name="green" oninput="changeGreen(this.value)" onchange="changeGreen(this.value)" id="greenSlider" value="128" min="0" max="255"><br/>
        </div>
        <div id="bluePanel">
            <div class="titleCenter">Blue<br></div>
            <input type="range" name="blue" oninput="changeBlue(this.value)" onchange="changeBlue(this.value)" id="blueSlider" value="128" min="0" max="255"><br/>
        </div>
        <div id="change" style="height:10px"></div>
            <button type="button" onclick="colourChange()">Submit</button>
            <button type="button" onclick="resetChange()">Reset</button>
    </form>
</div>

