﻿body {
    background-color:rgb(0,0,0);
}
#backgroundColor {
    height:100vh;
    width:100vw;
}
#redPanel {
      background-color: rgb(128,0,0);
}
#greenPanel {
    background-color: rgb(0,128,0);
}
#bluePanel {
    background-color: rgb(0,0,128);
}
.titleCenter {
    
    text-align:center;
    color:white;

} 

h1 {
    text-align:center; 
      color: black;
}
